:root {
    --frame-width: 450px;
}

.form-manager {
    height: 500px;
    padding: 20px;
}

.form-manager input{
    height: 24px;
    padding: 5px;
}
.form-manager input:focus{
    outline: none;
}

.form-manager button{
    height: 32px;
    padding: 5px;
    border-radius: 8px;
}

.form-manager button:hover {
    background-color: darkgoldenrod;
}

.form-manager button:focus {
    outline: none;
}

h1 {
    white-space: nowrap;
}