.window-frame {
    display: flex;

    border: 4px solid red;
    padding: 4px;

    width: 450px;
    overflow: hidden;
}

.windows {
    display: flex;
    border: 4px solid green;
    padding: 4px;

    /* width: 1200px; */
    /* margin-left: -100px; */
    transition: all .5s;
}

.window {

    border: 4px solid blue;
    padding: 4px;

    /* opacity: 0%; */
    /* display: flex; */
    /* display: inline-block; */
    /* width: 400px; */
}