.window-frame {
    width: 400px;
    overflow: hidden;
}

.windows {
    width: 1200px;
    margin-left: 0px;
    transition: all .5s;
}

.window {
    /* opacity: 0%; */
    display: inline-block;
    width: 400px;
}